.main-child{
    width: 70%;
display: flex;
gap: 30px;

}

@media(min-width:767px) and (max-width: 1025px){
    .main-child{
        width: 100%;
    }
      }
@media(max-width: 540px){
    .main-child{
        width: 100%;
        flex-direction: column;
    }
      }