.singleMovie{
    width: 50%;
    background-color: #24292c;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

}

@media(min-width:767px) and (max-width: 1025px){
    .singleMovie{
        width: 60%;
        border-radius: 0px;
    }
      }
      @media(max-width:540px){
        .singleMovie{
            width: 100%;
        }
      }