@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body{
      font-family: "Afacad Flux", sans-serif;
      height: 150vh;
      padding: 30px;
      width: 100%;
    background-color: #1b2021;

}

@media(min-width:767px) and (max-width: 1025px){
  body{
    padding: 0px;
    height: 100vh;
  }
    }
@media(max-width: 540px){
  body{
    padding: 0px;
    padding: 0px;
    height: 100vh;
  }
    }